
@{
    ViewBag.Title = "Search for Modules";
}

<h2>Search for modules</h2>
<p>You can search via the name of the module you are looking for or the name of the club that the module is required for.</p>

