
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table border="1">
    <tr>
        <td>
            <strong>Name</strong>
            <br />
            <br />
        </td>
        <td>
            <strong>Email Address</strong>
            <br />
            <br />
        </td>
    </tr>
    <!-- 
    <% foreach (var emailItem in ViewData.Model)
    { %>
    <tr>
        <td>
            <%= emailItem.Name %>
        </td>
        <td>
            <%=emailItem.Email %>
        </td>
    </tr>
    <% } %>
    -->
</table>